{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center my-4">
    <h1>Pokemon</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-4">
    <form action="/pokemon" method="post">

            <div class="row mb-3">
                <div class="col">
            
            </div>
        </div>
    </form>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
    <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Buscar Pokemon</button>
    </form>
    </div>
</nav>

    </div>
        </div>
    </div>
    </div>
        </div>


{% endblock %}












